.Header {
    position: relative;
    top: 30px;
    opacity: 0;
    margin-bottom: 30px;
}
.Header h2 {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255);
}

.Header h2::after {
    content: "";
    width: 200px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
}

.Header span {
    color: var(--main-color);
}
